@import "tailwindcss";
@import './fonts.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-primary: "Inter-Variable";
  --font-secondary: "Panchang-Variable";

  --color-theme-primary: '#000';
  --color-theme-secondary: '#fff';

  --font-weight-semibold: 500;
  --font-weight-bold: 600;
}